# Abaikan semua file di dalam folder
/node_modules
/public/icons/*
/public/surat-keluar/*
/public/surat-masuk/*
/public/village-stall/*

!public/icons
!public/surat-keluar
!public/surat-masuk
!public/village-stall

/logs
*.log
npm-debug.log*

.env

.DS_Store
Thumbs.db

/dist
/build

.vscode/
.idea/

# Optional: Coverage folder from testing
/coverage/

.db/

*.swp
*.swo
/package-lock.json